/**
 * MMM-CoinMarketCap
 * 
 * 
 * MIT Licensed.
 * 
 * Custom here your css module
 * 
 */
 
 .MMM-CoinMarketCap table td, .MMM-CoinMarketCap table th {
	padding-right: 8px; 
 }
 
.MMM-CoinMarketCap .image-bw {
	filter: invert(100%) grayscale(100%);
}


.MMM-CoinMarketCap .logo-container img {
	
}

.MMM-CoinMarketCap .logo-container img.logo-small {
	height: 16px;
	width: 16px;
}

.MMM-CoinMarketCap .logo-container img.logo-medium {
	height: 32px;
	width: 32px;
}

.MMM-CoinMarketCap .logo-container img.logo-large {
	height: 64px;
	width: 64px;
}

.MMM-CoinMarketCap .logo-container img.logo-x-large {
	height: 128px;
	width: 128px;
}

.MMM-CoinMarketCap .graph-container img {
    padding-left: 10px;
    filter: invert(1) grayscale(100%) brightness(500%);
}