/**
 * MMM-CoinMarketCap
 * 
 * MIT Licensed.
 */
 
/**
 * Font configurations
 */
.MMM-CoinMarketCap .x-small	{ font-size: 15px; line-height: 20px; }
.MMM-CoinMarketCap .small	{ font-size: 20px; line-height: 25px; }
.MMM-CoinMarketCap .medium	{ font-size: 30px; line-height: 35px; }
.MMM-CoinMarketCap .large	{ font-size: 65px; line-height: 65px; }
.MMM-CoinMarketCap .x-large	{ font-size: 75px; line-height: 75px; letter-spacing: -3px; }

.MMM-CoinMarketCap .negative { color: #FF5A44; }
.MMM-CoinMarketCap .positive { color: #A3EA80; }

/**
 * Loading text
 */
.MMM-CoinMarketCap .loading {
	color: #666666;
}

/**
 * Main Table CSS
 */
.MMM-CoinMarketCap table td, .MMM-CoinMarketCap table th {
	padding: 4px 7px 4px 7px;
	text-align: left;
	vertical-align: middle;
}
.MMM-CoinMarketCap table.tallHeader th {
	padding-bottom: 12px;
}

.MMM-CoinMarketCap table.row-separator td, .MMM-CoinMarketCap table.row-separator th {
	border-bottom: solid 1px #222;
}

.MMM-CoinMarketCap table.fullSize { width: 100%; }
.MMM-CoinMarketCap table.minimalSize { width: auto; }

.center	.MMM-CoinMarketCap table.minimalSize,
.third	.MMM-CoinMarketCap table.minimalSize,
.bar	.MMM-CoinMarketCap table.minimalSize,
.fullscreen	.MMM-CoinMarketCap table.minimalSize { margin-left: auto; margin-right: auto; }

.left	.MMM-CoinMarketCap table.minimalSize { margin-left: 0; margin-right: auto; }
.right	.MMM-CoinMarketCap table.minimalSize { margin-left: auto; margin-right: 0; }

/**
 * Table cells by type and their content
 */
.MMM-CoinMarketCap .cell-change1h, .MMM-CoinMarketCap .cell-change24h, .MMM-CoinMarketCap .cell-change7d, .MMM-CoinMarketCap .cell-changes,
.MMM-CoinMarketCap .cell-price, .MMM-CoinMarketCap .cell-priceUSD, .MMM-CoinMarketCap .cell-priceWithChanges {
	text-align: right;
}
.MMM-CoinMarketCap th.cell-graph { text-align: center; }

.MMM-CoinMarketCap td.cell-logo {
	text-align: center;
	line-height: 4px;
	font-size: 4px;
}
.MMM-CoinMarketCap td.cell-logo img {
	vertical-align: middle;
}
.MMM-CoinMarketCap td.logo-small img 	{ height: 16px;		width: 16px; }
.MMM-CoinMarketCap td.logo-medium img 	{ height: 32px;		width: 32px; }
.MMM-CoinMarketCap td.logo-large img 	{ height: 64px;		width: 64px; }
.MMM-CoinMarketCap td.logo-x-large img 	{ height: 128px; 	width: 128px; }
.MMM-CoinMarketCap .image-bw {
	filter: invert(100%) grayscale(100%);
}

.MMM-CoinMarketCap td.cell-graph {
	line-height: 4px;
	font-size: 4px;
}
.MMM-CoinMarketCap td.cell-graph img {
	vertical-align: middle;
}
.MMM-CoinMarketCap td.cell-graph img.grey {
	filter: invert(100%) grayscale(100%) brightness(250%);
}
.MMM-CoinMarketCap td.cell-graph img.down {
	filter: hue-rotate(322deg) saturate(260%) brightness(0.62) contrast(170%);
}
.MMM-CoinMarketCap td.cell-graph img.up {
	filter: hue-rotate(45deg) saturate(76%) brightness(0.80);
}
.MMM-CoinMarketCap td.graph-x-small	img { height: 24px; }
.MMM-CoinMarketCap td.graph-small	img { height: 32px; }
.MMM-CoinMarketCap td.graph-medium	img { height: 48px; }
.MMM-CoinMarketCap td.graph-large	img { height: 64px; }
.MMM-CoinMarketCap td.graph-x-large	img { height: 72px; }

.MMM-CoinMarketCap td.cell-changes {
	font-size: 80%;
	line-height: 100%;
	text-align: right;
}
.MMM-CoinMarketCap td.cell-priceWithChanges .changesPart {
	font-size: 75%;
	line-height: 100%;
	margin-top: 4px;
}
.MMM-CoinMarketCap td.cell-priceWithChanges .changesPart div {
	display: inline;
	padding-left: 8px;
}
.MMM-CoinMarketCap td.cell-priceWithChanges .changesPart div:first-child { padding-left: 0; }