/**
 * MMM-CoinMarketCap
 * 
 * 
 * MIT Licensed.
 * 
 * Custom here your css module
 * 
 */

.MMM-CoinMarketCap .loading {
	color: #666666;
}

.MMM-CoinMarketCap table td, .MMM-CoinMarketCap table th {
	border: solid 1px #222;
	padding: 2px 6px 2px 14px;
	text-align: left;
}
 
.MMM-CoinMarketCap .image-bw {
	filter: invert(100%) grayscale(100%);
}

.MMM-CoinMarketCap .negative {
	color: #FF5A44;
}
.MMM-CoinMarketCap .positive {
	color: #A3EA80;
}



.MMM-CoinMarketCap td.cell-change1h, .MMM-CoinMarketCap td.cell-change24h, .MMM-CoinMarketCap td.cell-change7d {
	text-align: right;
	padding: 1px 14px 1px 6px;
}

.MMM-CoinMarketCap td.cell-price, .MMM-CoinMarketCap td.cell-priceUSD {
	text-align: right;
	padding: 1px 14px 1px 6px;
}


.MMM-CoinMarketCap td.cell-logo img.logo-small {
	height: 16px;
	width: 16px;
}
.MMM-CoinMarketCap td.cell-logo img.logo-medium {
	height: 32px;
	width: 32px;
}
.MMM-CoinMarketCap td.cell-logo img.logo-large {
	height: 64px;
	width: 64px;
}

.MMM-CoinMarketCap td.cell-logo img.logo-x-large {
	height: 128px;
	width: 128px;
}

.MMM-CoinMarketCap td.cell-graph img {
    filter: invert(100%) grayscale(100%) brightness(300%);
}